{
  {{# hasSearchResults }}
  "class": ["products", "search-results"],
  "properties": {
    "term": "{{& term }}"
  },
  {{/ hasSearchResults }}
  {{^ hasSearchResults }}
  "class": ["products"],
  {{/ hasSearchResults }}
  {{# entities.length }}
  "entities": [
    {{# entities }}  {
      "class": ["product"],
      "rel": ["item"],
      "properties": {
        "id": "{{& product.id }}",
        "name": "{{& product.name }}",
        "image": "{{& product.image }}"
      },
      "links": [
        {
          "rel": ["self"],
          "href": "{{& self }}"
        }
      ]
    }{{# hasNext }},{{/ hasNext }}
  {{/ entities }}],{{/ entities.length }}
  "actions": [
    {
      "name": "search",
      "method": "GET",
      "href": "{{& search }}",
      "fields": [
        {
          "name": "search",
          "type": "text"{{# term }},
          "value": "{{& term }}"
          {{/ term }}
        }
      ]
    }
  ],
  "links": [
    {
      "rel": ["self"],
      "href": "{{& self }}"
    }
  ]
}
