{
  "class": ["product"],
  "properties": {
    "id": "{{& product.id }}",
    "name": "{{& product.name }}",
    "image": "{{& product.image }}"
  },
  "links": [{ "rel": ["collection"], "href": "{{& collection }}" }]
}
